form {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    justify-content: center;
}

button {
    margin: 50px;
    width: 80%;
}

p {
    text-align: center;
}

h1 {
    text-align: center;
}